<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserPaymentLabel" jhiTranslate="articleApp.userPayment.home.createOrEditLabel">Create or edit a User Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userPayment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userPayment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="userPayment.type" id="field_type"  required>
                <option value="VISA">{{'articleApp.TypePayment.VISA' | translate}}</option>
                <option value="PAYPAL">{{'articleApp.TypePayment.PAYPAL' | translate}}</option>
                <option value="MASTERCARD">{{'articleApp.TypePayment.MASTERCARD' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.cardName" for="field_cardName">Card Name</label>
            <input type="text" class="form-control" name="cardName" id="field_cardName"
                [(ngModel)]="userPayment.cardName" required/>
            <div [hidden]="!(editForm.controls.cardName?.dirty && editForm.controls.cardName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cardName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.cardNumber" for="field_cardNumber">Card Number</label>
            <input type="text" class="form-control" name="cardNumber" id="field_cardNumber"
                [(ngModel)]="userPayment.cardNumber" required/>
            <div [hidden]="!(editForm.controls.cardNumber?.dirty && editForm.controls.cardNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cardNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.expiryMonth" for="field_expiryMonth">Expiry Month</label>
            <input type="number" class="form-control" name="expiryMonth" id="field_expiryMonth"
                [(ngModel)]="userPayment.expiryMonth" required/>
            <div [hidden]="!(editForm.controls.expiryMonth?.dirty && editForm.controls.expiryMonth?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.expiryMonth?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.expiryMonth?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.expiryYear" for="field_expiryYear">Expiry Year</label>
            <input type="number" class="form-control" name="expiryYear" id="field_expiryYear"
                [(ngModel)]="userPayment.expiryYear" required/>
            <div [hidden]="!(editForm.controls.expiryYear?.dirty && editForm.controls.expiryYear?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.expiryYear?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.expiryYear?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.cvc" for="field_cvc">Cvc</label>
            <input type="number" class="form-control" name="cvc" id="field_cvc"
                [(ngModel)]="userPayment.cvc" required/>
            <div [hidden]="!(editForm.controls.cvc?.dirty && editForm.controls.cvc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cvc?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cvc?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.holderName" for="field_holderName">Holder Name</label>
            <input type="text" class="form-control" name="holderName" id="field_holderName"
                [(ngModel)]="userPayment.holderName" required/>
            <div [hidden]="!(editForm.controls.holderName?.dirty && editForm.controls.holderName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.holderName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.defaultPayment" for="field_defaultPayment">Default Payment</label>
            <input type="checkbox" class="form-control" name="defaultPayment" id="field_defaultPayment"
                [(ngModel)]="userPayment.defaultPayment" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="articleApp.userPayment.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userPayment.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === userPayment.user?.id ? userPayment.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
