<div>
    <h2>
        <span jhiTranslate="articleApp.userPayment.home.title">User Payments</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-payment" [routerLink]="['/', { outlets: { popup: ['user-payment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="articleApp.userPayment.home.createLabel">
            Create new User Payment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'articleApp.userPayment.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userPayments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="articleApp.userPayment.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cardName"><span jhiTranslate="articleApp.userPayment.cardName">Card Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cardNumber"><span jhiTranslate="articleApp.userPayment.cardNumber">Card Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expiryMonth"><span jhiTranslate="articleApp.userPayment.expiryMonth">Expiry Month</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expiryYear"><span jhiTranslate="articleApp.userPayment.expiryYear">Expiry Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cvc"><span jhiTranslate="articleApp.userPayment.cvc">Cvc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="holderName"><span jhiTranslate="articleApp.userPayment.holderName">Holder Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="defaultPayment"><span jhiTranslate="articleApp.userPayment.defaultPayment">Default Payment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="articleApp.userPayment.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userPayment of userPayments ;trackBy: trackId">
                <td><a [routerLink]="['../user-payment', userPayment.id ]">{{userPayment.id}}</a></td>
                <td jhiTranslate="{{'articleApp.TypePayment.' + userPayment.type}}">{{userPayment.type}}</td>
                <td>{{userPayment.cardName}}</td>
                <td>{{userPayment.cardNumber}}</td>
                <td>{{userPayment.expiryMonth}}</td>
                <td>{{userPayment.expiryYear}}</td>
                <td>{{userPayment.cvc}}</td>
                <td>{{userPayment.holderName}}</td>
                <td>{{userPayment.defaultPayment}}</td>
                <td>
                    {{userPayment.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-payment', userPayment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-payment/'+ userPayment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-payment/'+ userPayment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userPayments && userPayments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
