<div>
    <h2>
        <span jhiTranslate="articleApp.ordered.home.title">Ordereds</span>
        <button class="btn btn-primary float-right jh-create-entity create-ordered" [routerLink]="['/', { outlets: { popup: ['ordered-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="articleApp.ordered.home.createLabel">
            Create new Ordered
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'articleApp.ordered.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ordereds">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderDate"><span jhiTranslate="articleApp.ordered.orderDate">Order Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shippingDate"><span jhiTranslate="articleApp.ordered.shippingDate">Shipping Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shippingMethod"><span jhiTranslate="articleApp.ordered.shippingMethod">Shipping Method</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderStatus"><span jhiTranslate="articleApp.ordered.orderStatus">Order Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderTotal"><span jhiTranslate="articleApp.ordered.orderTotal">Order Total</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ordered of ordereds ;trackBy: trackId">
                <td><a [routerLink]="['../ordered', ordered.id ]">{{ordered.id}}</a></td>
                <td>{{ordered.orderDate | date:'mediumDate'}}</td>
                <td>{{ordered.shippingDate | date:'mediumDate'}}</td>
                <td>{{ordered.shippingMethod}}</td>
                <td>{{ordered.orderStatus}}</td>
                <td>{{ordered.orderTotal}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ordered', ordered.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ordered/'+ ordered.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ordered/'+ ordered.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ordereds && ordereds.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
